<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vladimirbabenko.hotlinecustom">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
      android:name=".base.App"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".login.LoginActivity"
        android:label="Login"
        android:screenOrientation="portrait"
        >
    </activity>
    <activity
        android:name=".j.LoginActivityJ"
        android:label="LoginJ">
    </activity>
    <!-- <activity android:name=".base.BaseActivity"> -->
    <!-- </activity> -->
    <activity
        android:name=".j.MainScreenActivityJ"
        android:label="MainScreenJ">
    </activity>
    <activity
        android:name=".MainScreenActivity"
        android:label="MainScreen"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".TermsActivity"
        android:label="Terms">
    </activity>

    <receiver android:name=".utils.BattaryChargingReceiver">
      <intent-filter>
        <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
        <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
      </intent-filter>
    </receiver>
    <receiver android:name=".utils.j.NetworkChangeReceiverJ">
      <intent-filter>
        <action
            android:name="android.net.conn.CONNECTIVITY_CHANGE"
            tools:ignore="BatteryLife"/>
      </intent-filter>
    </receiver>

    <activity android:name=".bascket_activity_mvp.BascketActivity">
    </activity>
  </application>

</manifest>